<div class="row row-cards">
<div class="col-lg-3">
  <div class="row">
    <div class="col-md-6 col-lg-12">
      <div class="card">
        <div class="card-body">

          <h4 class="card-title"><a href="javascript:void(0)">Apple iPhone 7 Plus 256GB Red Special Edition</a></h4>
          <div class="card-subtitle">
            Apple
          </div>
          <div class="mt-5 d-flex align-items-center">
            <div class="product-price">
              <strong>$499</strong>
            </div>
            <div class="ml-auto">
              <a href="javascript:void(0)" class="btn btn-primary"><i class="fe fe-plus"></i> Add to cart</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-12">
      <div class="card">
        <div class="card-body">

          <h4 class="card-title"><a href="javascript:void(0)">GoPro HERO6 Black</a></h4>
          <div class="card-subtitle">
            GoPro
          </div>
          <div class="mt-5 d-flex align-items-center">
            <div class="product-price">
              <strong>$599</strong>
            </div>
            <div class="ml-auto">
              <a href="javascript:void(0)" class="btn btn-primary"><i class="fe fe-plus"></i> Add to cart</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-lg-9">
  <div class="card">
    <table class="table card-table table-vcenter">
      <tbody>
      <tr>

        <td>
          Apple iPhone 7 Plus 256GB Red Special Edition
        </td>
      </tr>
      <tr>

        <td>
          Apple iPhone 7 Plus 256GB Red Special Edition
        </td>
      </tr>
      <tr>

        <td>
          Apple iPhone 7 Plus 256GB Red Special Edition
        </td>
      </tr>
      <tr>

        <td>
          Apple iPhone 7 Plus 256GB Red Special Edition
        </td>
      </tr>
      <tr>

        <td>
          Apple iPhone 7 Plus 256GB Red Special Edition
        </td>
      </tr>
      <tr>

        <td>
          Apple iPhone 7 Plus 256GB Red Special Edition
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

</div>
